<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some demo to help you start: </h2>
<div>
  <h3>Manual report</h3>
  <ul>
    <li>
      <button (click)="info()">Info</button>
    </li>
  </ul>
</div>
<div>
  <h3>Caught Error report</h3>
  <ul>
    <li>
      <button (click)="caughtError()">CaughtError</button>
    </li>
  </ul>
</div>
<div>
  <h3>Http Error report</h3>
  <ul>
    <li>
      <button (click)="connectionFailed()">Connection Failed</button>
    </li>
  </ul>
</div>
